.ui-page.ui-body-c.ui-page-active {
 background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #EFEDE5), color-stop(1, #F0EEE5))
}

.ui-bar-a {
 background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #7DC8DD), color-stop(1, #64B0C8))
}

.ui-content {
 margin-top: 40px;
 background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #EFEDE5), color-stop(1, #F0EEE5))
}

.login {
 text-align: center;
}

.container {
 text-align: center;
}

