.ui-bar-a {
 background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #7DC8DD), color-stop(1, #64B0C8))
}

.ui-content {
 background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #EFEDE5), color-stop(1, #F0EEE5))
}